.containerx {
	padding: 0 250px;
	width: auto;
}

article p img {
	width: 50%;
	padding:0 25%;
}

pre {
	background-color: #272822;
	color: #f1f1f1e3;
	/* padding: 0 10px; */
	overflow:auto;
}

table {
	width:100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
	padding:6px;
}

.code-name {
	position: relative;
	padding: 4px 8px;
	background-color: #444;
	color: #ccc;
	font-weight: 400;
}

span.prompt {
	color: #008CCF;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

h2 {
	padding-top: 30px;
	padding-bottom: 50px;
}

h3 {
	padding-top: 30px;
	padding-bottom: 40px;
}

model-viewer.ar {
	width: 100%;
	height: 450px;
}

span.comment-time {
	float: right;
	padding: 0 5px 0 5px;
	color: #999;
}

span.comment-time a {
	color: #999;
}

span.comment-time a:hover {
	color: rgb(16, 131, 254);
}

span.comment-handle {
	padding: 0 5px 0 5px;
	position: absolute;
}

span.comment-handle a {
	color: #313131;
}

img.comment {
	width:60px;
}

p.comment-body {
	padding: 20px;
	border-bottom: solid 1px #eee;
}

span.comment-text {
	padding:10px;
}

button.comment_open {
	padding:20px 40px 20px 40px;
	background-color: rgba(184,207,224,.24);
	border: none;
	margin:0;
}
button.comment_open:hover {
	color: rgb(16, 131, 254);
}

.comment_open {
	text-align: center;
	width: 100%;
}

.comment_open p a {
	color: rgb(16, 131, 254);
}

.bsky_comment {
	background-color: #fff;
	margin: 0px auto;
	border: solid 1px #eee;
}

.bsky_comment_embed {
	background-color: #fff;
	width: 600px;
	margin: 0px auto;
}

.comment {
	background-color: #fff;
}

article p img {
	width: 100%;
	padding:0;
}

@media screen and (max-width:1000px) { 
	html {
		font-size: 100%; 
	}
	.logo span.icon-phoeni-world{
		font-size: 60px;
		font-size: 6rem;
	}
	.containerx { 
		padding: 0 ;
		font-size:18px;
		word-wrap: break-word;
		word-break: break-all;
	}
	article p img {
		width: 100%;
		padding:0;
	}
	article {
		padding: 15px;
	}
	.bsky_comment {
		width:auto;
	}
	.bsky_comment_embed {
		width:auto;
	}
	.page_title a img {
		width:100%;
	}
	.page a img {
		width:160px;
	}
	img.comment {
		width:60px;
	}
	.hooper-list img {
		border: solid 0px #fff;
		margin:20px 0 0 0;
		width:100%;
	}
	p.comment-body {
		padding: 5px;
	}
}
