{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

			<h3><i class="far fa-question-circle"></i> このサイトについて</h3>
			<blockquote>
			<p><a href="/syui">syui</a>の個人ページです。</p>
			<p>サイト名は<code>syui.cf</code>です。</p>
			<p>当サイトの使い方は<a href="/help">こちら</a>です。</p>
			</blockquote>

			<h3><a href="/about"><span class="icon-syui"></span> プロフィール</a></h3>
			<p>syuiの自己紹介です。</p>

			<h3><a href="/blog"><i class="far fa-copy"></i> ブログ</a></h3>
			<p>ブログを書いています。ゲーム、アニメ関連が多いです。</p>

			<h3><a href="/blog/index.xml"><i class="fas fa-rss-square"></i> フィード</a></h3>
			<p>RSSです。</p>

			<h3><a href="/icon"><i class="fas fa-dice-d6"></i> デザイン</a></h3>
			<p>デザインします。作ったアイコンを載せています。</p>

			<h3><a href="/img"><i class="far fa-image"></i> イラスト</a></h3>
			<p>絵を描きます。</p>

			<h3><a href="/music"><i class="fas fa-music"></i> ミュージック</a></h3>
			<p>作曲します。</p>

			<h3><a href="/app"><i class="fas fa-rocket"></i> アプリ</a></h3>
			<p>アプリを作ります。</p>

			<h3><a href="/api"><i class="fas fa-camera"></i> API</a></h3>
			<p>apiを作ります。</p>

			<h3><a href="/ai/game"><span class="icon-ai"></span> ゲーム</a></h3>
			<p>ノベルゲームを作ります。</p>

			<h3><a href="/ai/manga"></i><i class="far fa-comment"></i> マンガ</a></h3>
			<p>マンガを描きます。</p>

			<h3><a href="/ai/novel"><i class="fas fa-pen-nib"></i> ノベル</a></h3>
			<p>小説を書きます。</p>

			<h3><a href="/archive"><span class="icon-moon"></span> アイデア</a></h3>
			<p>思ったことを書きます。哲学的です。</p>

			<h3><a href="/item"><i class="fas fa-shopping-bag"></i> アイテム</a></h3>
			<p>お気に入りアイテムです。</p>
			<h3><a href="https://mstdn.syui.cf/@syui"><i class="fab fa-mastodon"></i> メッセージ</a></h3>
			<p>メッセージは <a href="https://mstdn.syui.cf/@syui">@syui@syui.cf</a> へ送れます。</p>

			<h3><a href="https://git.syui.cf/syui"><i class="fab fa-git-alt"></i> コード</a></h3>
			<p>コードを書きます。好きな言語は<code>shellscript</code>, <code>go</code>, <code>rust</code>, <code>elixir</code>, <code>vue.js</code>です。</p>

			<h3><a href="/contribution/"><i class="fab fa-gitlab"></i> 芝</a></h3>
			<p>芝を作ります。</p>

			<h3><a href="/photo"><i class="fas fa-camera"></i> フォト</a></h3>
			<p>写真を撮ります。</p>

			<h3><a href="/games"><i class="fas fa-gamepad"></i> プレイ</a></h3>
			<p>プレイしているゲームをレビューします。</p>

			<h3><a href="https://github.com/sponsors/syui/" target="_blank"><i class="fab fa-github"> スポンサー</i></a></h3>
			<p>スポンサーは <a href="https://github.com/sponsors/syui/">GitHub Sponsors</a> からお願いします。</p>
			<div class="logo"><a href="/ai">	
				{{ partial "svg-ai.html" . }}
				</a>
			</div>
		{{ partial "footer.html" . }}
	</body>
</html>
