{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p>絵を描きます</p>

			<p>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_05.png"><img src="/img/yui_05.png"></a>
				<a href="/img/yui_29.png"><img src="/img/yui_29.png"></a>
				<a href="/img/yui_28.png"><img src="/img/yui_28.png"></a>
			</p>
			</div>

			<p><h3>キャラクター</h3></p>
			<p>
				<img src="/img/game/c_yui.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_kyouko.png">
				<img src="/img/game/c_ripo.png">
			</p>
			<p><h3>アイテム</h3></p>
			<p>
				<img src="/img/game/c_zeusu_2.png">
				<img src="/img/game/item_10.png">
				<img src="/img/game/item_11.png">
				<img src="/img/game/item_12.png">
			</p>

			<p><h3>フィールド</h3></p>
			<p>
				<img src="/img/game/f_yama.png">
				<img src="/img/game/f_kumo_2.png">
				<img src="/img/game/f_taikai.png">
				<img src="/img/game/f_uchusenta.png">
			</p>		
			<p><code><a href="/imgall">all</a></code></p>

		</div>
		{{ partial "footer.html" . }}
</body>
</html>
