{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo3.png">
			</p>
			<!--
			<p>DOWNLOAD</p>
			<p>
			  <a href="https://github.com/syui/game/releases/download/v3.0/yui_win.zip"><i class="fab fa-windows" style="font-size:30px;margin:10px;"></i> </a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui_mac.zip"><i class="fab fa-apple"style="font-size:30px;margin:10px;"></i></a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui_mobile.zip"><i class="fas fa-mobile-alt"style="font-size:30px;margin:10px;"></i></a>
			</p>
			<p>PLAY</p>
			<p> <a href="/game">/game</a></p>
			-->

			<p>
				<img src="/img/game/c_yui_tensi.png">
			</p>

			<p>
			<blockquote>絵本の救世主</blockquote>
			</p>
			<p> <a href="/gamechara">キャラクター紹介</a></p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
