{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p>絵を描きます</p>
			<p style="text-align:right;"><a href="/imgall/"><i class="fas fa-list"></i></a></p>
			<p>
				<a href="/img/yui_23.png"><img src="/img/yui_23.png"></a>
				<a href="/img/yui_15.png"><img src="/img/yui_15.png"></a>
				<a href="/img/yui_20.png"><img src="/img/yui_20.png"></a>
				<a href="/img/yui_26.png"><img src="/img/yui_26.png"></a>
			</p>
			<p>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_07.png"><img src="/img/yui_07.png"></a>
				<a href="/img/yui_28.png"><img src="/img/yui_28.png"></a>
				<a href="/img/yui_30.png"><img src="/img/yui_30.png"></a>
			</p>
			</div>
			
			<p><h3>フィールド</h3></p>

			<p>
				<img src="/img/game/i_hosi_00.png">
				<img src="/img/game/f_kumo.png">
				<img src="/img/game/f_plan.png">
				<img src="/img/game/f_kori.png">
			</p>		

			<p>
				<img src="/img/game/f_yama.png">
				<img src="/img/game/f_kumo_2.png">
				<img src="/img/game/f_oka.png">
				<img src="/img/game/f_uchusenta.png">
			</p>		

		<p><h3>キャラクター</h3></p>
			<p>
				<img src="/img/game/c_yui_tensi.png">
				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
			</p>

			<p>
				<img src="/img/game/c_ponta_papa.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_ripo.png">
			</p>

		</div>
		{{ partial "footer.html" . }}
</body>
</html>
