{{ partial "head-img.html" . }}
{{ partial "header.html" . }}
			<p>オリジナルのイラストです。</p>
			<p> 
				<a href="/img/yui_01.png"><img src="/img/yui_01.png"></a>
				<a href="/img/yui_02.png"><img src="/img/yui_02.png"></a>
				<a href="/img/yui_03.png"><img src="/img/yui_03.png"></a>
				<a href="/img/yui_04.png"><img src="/img/yui_04.png"></a>
				<a href="/img/yui_05.png"><img src="/img/yui_05.png"></a>
				<a href="/img/yui_06.png"><img src="/img/yui_06.png"></a>
				<a href="/img/yui_07.png"><img src="/img/yui_07.png"></a>
				<a href="/img/yui_08.png"><img src="/img/yui_08.png"></a>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_10.png"><img src="/img/yui_10.png"></a>
				<a href="/img/yui_11.png"><img src="/img/yui_11.png"></a>
				<a href="/img/yui_12.png"><img src="/img/yui_12.png"></a>
				<a href="/img/kuina_01_04.png"><img src="/img/kuina_01_04.png"></a>
			</p>
			<!--
			<p>
				<a href="/img/yu_01.png"><img src="/img/yu_01.png"></a>
			</p>
			<p>
				<a href="/img/pokemon_01.png"><img src="/img/pokemon_01.png"></a>
				<a href="/img/pokemon_02.png"><img src="/img/pokemon_02.png"></a>
				<a href="/img/pokemon_03.gif"><img src="/img/pokemon_03.gif"></a>
			</p>
			-->
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
