{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo2.png">
			</p>
			<p>DOWNLOAD</p>
			<p>
			    <a href="https://github.com/syui/game/releases/download/v3.0/yui_win.zip"><i class="fab fa-windows" style="font-size:30px;margin:10px;"></i> </a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui_mac.zip"><i class="fab fa-apple"style="font-size:30px;margin:10px;"></i></a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui_mobile.zip"><i class="fas fa-mobile-alt"style="font-size:30px;margin:10px;"></i></a>
			</p>
			<p>PLAY</p>
			<p> <a href="/game">/game</a></p>
			<p>
				<img src="/img/game/game_image_05.png">
				<img src="/img/game/game_image_06.png">
			</p>
			<p>
				<img src="/img/game/c_ponta_2.png">
				<img src="/img/game/c_kyousuke_2.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_plan.png">
			</p>

			<p>
			<blockquote>「あいつ変わらねえなあ...ちょっとおかしいぞ！」</blockquote>
			</p>
			<p>
			<blockquote>「わしは生き残る、なにを犠牲にしてでも」</blockquote>
			</p>

			<!--
			<p>
				<img src="/img/game/p_black.png">
				<img src="/img/game/p_blue.png">
				<img src="/img/game/p_green.png">
				<img src="/img/game/p_red.png">
				<img src="/img/game/p_sky.png">
			</p>
			<p>
				<img src="/img/game/s_01.png">
				<img src="/img/game/i_baku_02.png">
			</p>
			-->
			<p> 
			    <a href="/imgame"><img src="/img/game/logo.png"></a>
			</p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
