{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo2.png">
			</p>

			<p>PLAY</p>
			<p> <a href="/game">/game</a></p>
			<p>
				<img src="/img/game/c_ponta_2.png">
				<img src="/img/game/c_kyousuke_2.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_plan.png">
			</p>
			<!--
			<p>
				<img src="/img/game/game_image_05.png">
				<img src="/img/game/game_image_06.png">
				<img src="/img/game/game_image_07.png">
				<img src="/img/game/game_image_08.png">
			</p>
			-->
			<p>
			<blockquote>成長しない主人公にみんなが疑問</blockquote>
			</p>
			<p> <a href="/gamechara">キャラクター紹介</a></p>
			<p> <a href="/imgame3"><img src="/img/game/logo3.png"></a> </p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
