{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo2.png">
			</p>
			<p>
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_ponta_papa.png">
				<img src="/img/game/ai.png">
			</p>
			<p>
			<blockquote>成長しない主人公にみんなが疑問</blockquote>
			</p>
			<p> <a href="/imgame3"><img src="/img/game/logo3.png"></a> </p>
			<p> <a href="/gamechara">キャラクター紹介</a></p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
