{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p>過去のお絵かき</p>
			</div>
			<p>
				<a href="/img/yui_01.png"><img src="/img/yui_01.png"></a>
				<a href="/img/yui_02.png"><img src="/img/yui_02.png"></a>
				<a href="/img/yui_03.png"><img src="/img/yui_03.png"></a>
				<a href="/img/yui_04.png"><img src="/img/yui_04.png"></a>
				<a href="/img/yui_05.png"><img src="/img/yui_05.png"></a>
				<a href="/img/yui_06.png"><img src="/img/yui_06.png"></a>
				<a href="/img/yui_07.png"><img src="/img/yui_07.png"></a>
				<a href="/img/yui_08.png"><img src="/img/yui_08.png"></a>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_10.png"><img src="/img/yui_10.png"></a>
				<a href="/img/yui_11.png"><img src="/img/yui_11.png"></a>
				<a href="/img/yui_12.png"><img src="/img/yui_12.png"></a>
				<a href="/img/yui_13.png"><img src="/img/yui_13.png"></a>
				<a href="/img/yui_14.png"><img src="/img/yui_14.png"></a>
				<a href="/img/yui_15.png"><img src="/img/yui_15.png"></a>
				<a href="/img/yui_16.png"><img src="/img/yui_16.png"></a>
				<a href="/img/yui_17.png"><img src="/img/yui_17.png"></a>
				<a href="/img/yui_18.png"><img src="/img/yui_18.png"></a>
				<a href="/img/yui_19.png"><img src="/img/yui_19.png"></a>
				<a href="/img/yui_20.png"><img src="/img/yui_20.png"></a>
				<a href="/img/yui_21.png"><img src="/img/yui_21.png"></a>
				<a href="/img/yui_22.png"><img src="/img/yui_22.png"></a>
				<a href="/img/yui_23.png"><img src="/img/yui_23.png"></a>
				<a href="/img/yui_24.png"><img src="/img/yui_24.png"></a>
				<a href="/img/yui_25.png"><img src="/img/yui_25.png"></a>
				<a href="/img/yui_26.png"><img src="/img/yui_26.png"></a>
				<a href="/img/yui_27.png"><img src="/img/yui_27.png"></a>
				<a href="/img/yui_28.png"><img src="/img/yui_28.png"></a>
				<a href="/img/yui_29.png"><img src="/img/yui_29.png"></a>
				<a href="/img/yui_30.png"><img src="/img/yui_30.png"></a>
				<a href="/img/yui_31.png"><img src="/img/yui_31.png"></a>
				<a href="/img/yui_32.png"><img src="/img/yui_32.png"></a>
				<a href="/img/yui_33.png"><img src="/img/yui_33.png"></a>
				<a href="/img/yui_34.png"><img src="/img/yui_34.png"></a>
				<a href="/img/yui_35.png"><img src="/img/yui_35.png"></a>
				<a href="/img/yui_36.png"><img src="/img/yui_36.png"></a>
				<a href="/img/yui_37.png"><img src="/img/yui_37.png"></a>
				<a href="/img/yui_38.png"><img src="/img/yui_38.png"></a>
				<a href="/img/yui_39.png"><img src="/img/yui_39.png"></a>
				<a href="/img/yui_40.png"><img src="/img/yui_40.png"></a>
				<a href="/img/yui_41.png"><img src="/img/yui_41.png"></a>
				<a href="/img/yui_42.png"><img src="/img/yui_42.png"></a>
				<a href="/img/yui_43.png"><img src="/img/yui_43.png"></a>
				<a href="/img/yui_44.png"><img src="/img/yui_44.png"></a>
				<a href="/img/yui_45.png"><img src="/img/yui_45.png"></a>
				<a href="/img/yui_46.png"><img src="/img/yui_46.png"></a>
				<a href="/img/yui_47.png"><img src="/img/yui_47.png"></a>
				<a href="/img/yui_48.png"><img src="/img/yui_48.png"></a>
				<a href="/img/yui_49.png"><img src="/img/yui_49.png"></a>
				<a href="/img/yui_50.png"><img src="/img/yui_50.png"></a>
				<a href="/img/yui_51.png"><img src="/img/yui_51.png"></a>
				<a href="/img/yui_52.png"><img src="/img/yui_52.png"></a>
				<a href="/img/yui_53.png"><img src="/img/yui_53.png"></a>
				<a href="/img/yui_54.png"><img src="/img/yui_54.png"></a>
				<a href="/img/yui_55.png"><img src="/img/yui_55.png"></a>
				<a href="/img/yui_56.png"><img src="/img/yui_56.png"></a>
				<a href="/img/yui_57.png"><img src="/img/yui_57.png"></a>
				<a href="/img/yui_58.png"><img src="/img/yui_58.png"></a>
				<a href="/img/yui_59.png"><img src="/img/yui_59.png"></a>
				<a href="/img/yui_60.png"><img src="/img/yui_60.png"></a>
				<a href="/img/yui_61.png"><img src="/img/yui_61.png"></a>
				<a href="/img/yui_62.png"><img src="/img/yui_62.png"></a>
				<a href="/img/yui_63.png"><img src="/img/yui_63.png"></a>
				<a href="/img/yui_64.png"><img src="/img/yui_64.png"></a>
				<a href="/img/yui_65.png"><img src="/img/yui_65.png"></a>
				<a href="/img/yui_66.png"><img src="/img/yui_66.png"></a>
				<a href="/img/yui_67.png"><img src="/img/yui_67.png"></a>
				<a href="/img/yui_68.png"><img src="/img/yui_68.png"></a>
			</p>
			<!--
			<p> <a href="/img/yui_61.png"><img src="/img/yui_61.png"></a> </p>
			<p> 
				<a href="/img/yui_01.png"><img src="/img/yui_01.png"></a>
				<a href="/img/yui_02.png"><img src="/img/yui_02.png"></a>
				<a href="/img/yui_03.png"><img src="/img/yui_03.png"></a>
				<a href="/img/yui_04.png"><img src="/img/yui_04.png"></a>
				<a href="/img/yui_05.png"><img src="/img/yui_05.png"></a>
				<a href="/img/yui_06.png"><img src="/img/yui_06.png"></a>
				<a href="/img/yui_07.png"><img src="/img/yui_07.png"></a>
				<a href="/img/yui_08.png"><img src="/img/yui_08.png"></a>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_10.png"><img src="/img/yui_10.png"></a>
				<a href="/img/yui_11.png"><img src="/img/yui_11.png"></a>
				<a href="/img/yui_14.png"><img src="/img/yui_14.png"></a>
				<a href="/img/yui_15.png"><img src="/img/yui_15.png"></a>
				<a href="/img/yui_16.png"><img src="/img/yui_16.png"></a>
				<a href="/img/yui_17.png"><img src="/img/yui_17.png"></a>
				<a href="/img/yui_18.png"><img src="/img/yui_18.png"></a>
				<a href="/img/yui_19.png"><img src="/img/yui_19.png"></a>
				<a href="/img/yui_20.png"><img src="/img/yui_20.png"></a>
				<a href="/img/yui_21.png"><img src="/img/yui_21.png"></a>
				<a href="/img/yui_22.png"><img src="/img/yui_22.png"></a>
				<a href="/img/yui_23.png"><img src="/img/yui_23.png"></a>
				<a href="/img/yui_24.png"><img src="/img/yui_24.png"></a>
				<a href="/img/yui_25.png"><img src="/img/yui_25.png"></a>
				<a href="/img/yui_26.png"><img src="/img/yui_26.png"></a>
				<a href="/img/yui_27.png"><img src="/img/yui_27.png"></a>
				<a href="/img/yui_28.png"><img src="/img/yui_28.png"></a>
				<a href="/img/yui_29.png"><img src="/img/yui_29.png"></a>
				<a href="/img/yui_30.png"><img src="/img/yui_30.png"></a>
				<a href="/img/yui_31.png"><img src="/img/yui_31.png"></a>
				<a href="/img/yui_32.png"><img src="/img/yui_32.png"></a>
				<a href="/img/yui_33.png"><img src="/img/yui_33.png"></a>
				<a href="/img/yui_34.png"><img src="/img/yui_34.png"></a>
				<a href="/img/yui_35.png"><img src="/img/yui_35.png"></a>
				<a href="/img/yui_36.png"><img src="/img/yui_36.png"></a>
				<a href="/img/yui_37.png"><img src="/img/yui_37.png"></a>
				<a href="/img/yui_38.png"><img src="/img/yui_38.png"></a>
				<a href="/img/yui_39.png"><img src="/img/yui_39.png"></a>
				<a href="/img/yui_40.png"><img src="/img/yui_40.png"></a>
				<a href="/img/yui_41.png"><img src="/img/yui_41.png"></a>
				<a href="/img/yui_42.png"><img src="/img/yui_42.png"></a>
				<a href="/img/yui_43.png"><img src="/img/yui_43.png"></a>
				<a href="/img/yui_44.png"><img src="/img/yui_44.png"></a>
				<a href="/img/yui_45.png"><img src="/img/yui_45.png"></a>
				<a href="/img/yui_46.png"><img src="/img/yui_46.png"></a>
				<a href="/img/yui_47.png"><img src="/img/yui_47.png"></a>
				<a href="/img/yui_48.png"><img src="/img/yui_48.png"></a>
				<a href="/img/yui_49.png"><img src="/img/yui_49.png"></a>
				<a href="/img/yui_50.png"><img src="/img/yui_50.png"></a>
				<a href="/img/yui_51.png"><img src="/img/yui_51.png"></a>
				<a href="/img/yui_52.png"><img src="/img/yui_52.png"></a>
				<a href="/img/yui_53.png"><img src="/img/yui_53.png"></a>
				<a href="/img/yui_54.png"><img src="/img/yui_54.png"></a>
				<a href="/img/yui_55.png"><img src="/img/yui_55.png"></a>
				<a href="/img/yui_56.png"><img src="/img/yui_56.png"></a>
				<a href="/img/yui_57.png"><img src="/img/yui_57.png"></a>
				<a href="/img/yui_58.png"><img src="/img/yui_58.png"></a>
				<a href="/img/yui_59.png"><img src="/img/yui_59.png"></a>
				<a href="/img/yui_60.png"><img src="/img/yui_60.png"></a>
			</p>
			<p><h3>キャラクター</h3></p>
			<p>
				<img src="/img/game/c_yui.png">

				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/c_ponta_papa.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_grei.png">
				<img src="/img/game/c_ripo.png">
				<img src="/img/game/c_amu.png">
				<img src="/img/game/c_kakiko.png">
				<img src="/img/game/c_sontyou.png">
				<img src="/img/game/c_kitamura.png">
				<img src="/img/game/c_grei_ou.png">
				<img src="/img/game/c_grei_origin.png">
				<img src="/img/game/c_sen.png">
				<img src="/img/game/c_kyouko.png">

			</p>
			<p><h3>キャラクター2</h3></p>
			<p>
				<img src="/img/game/c_octo_def.png">
				<img src="/img/game/c_octo_hei.png">
				<img src="/img/game/c_octo_hakase.png">
				<img src="/img/game/c_yui_mahou.png">
				<img src="/img/game/c_zen_2.png">
				<img src="/img/game/c_sen_2.png">
				<img src="/img/game/c_kitamura_ken.png">
				<img src="/img/game/c_kyousuke_2.png">
				<img src="/img/game/c_kyousuke_3.png">
				<img src="/img/game/c_ponta_2.png">
				<img src="/img/game/c_ponta_3.png">
				<img src="/img/game/c_ponta_4.png">
			</p>
			<p><h3>アイ</h3></p>
			<p>
				<img src="/img/game/ai.png">
				<img src="/img/game/c_yui_back.png">
				<img src="/img/game/c_yui_choukyuu.png">
				<img src="/img/game/c_yui_back_choukyuu.png">
				<img src="/img/game/c_yui_tensi.png">
				<img src="/img/game/c_yui_back_tensi.png">
				<img src="/img/game/c_yui_zen_ken.png">
			</p>
			<p>
				<img src="/img/game/c_ai.png">
				<img src="/img/game/c_ai_ai.png">
				<img src="/img/game/c_ai_zen.png">
				<img src="/img/game/c_ai_sword.png">
			</p>

			<p>

			<p><h3>モンスター</h3></p>
			<p>
				<img src="/img/game/m_nekosen.png">
				<img src="/img/game/m_sinou.png">
				<img src="/img/game/m_torimu.png">
				<img src="/img/game/m_torimu_2.png">
				<img src="/img/game/m_sabonezumi.png">
				<img src="/img/game/m_dorai.png">
				<img src="/img/game/m_dorai_o.png">
			</p>
			<p><h3>アイテム</h3></p>
			<p>
				<img src="/img/game/item_00.png">
				<img src="/img/game/item_01.png">
				<img src="/img/game/item_02.png">
				<img src="/img/game/item_03.png">
				<img src="/img/game/item_04.png">
				<img src="/img/game/item_05.png">
				<img src="/img/game/item_06.png">
				<img src="/img/game/item_07.png">
				<img src="/img/game/item_08.png">
				<img src="/img/game/item_09.png">
				<img src="/img/game/item_10.png">
				<img src="/img/game/item_11.png">
				<img src="/img/game/item_12.png">
				<img src="/img/game/c_zeusu_0.png">
				<img src="/img/game/c_zeusu_1.png">
				<img src="/img/game/c_zeusu_2.png">
				<img src="/img/game/c_zeusu_3.png">
			</p>
			<p><h3>フィールド</h3></p>
			<p>
				<img src="/img/game/f_hosi_1.png">
				<img src="/img/game/f_hosi_1.1.png">
				<img src="/img/game/f_hosi_2.png">
				<img src="/img/game/f_hosi_3.png">
				<img src="/img/game/f_hosi_4.png">
				<img src="/img/game/f_monbo.png">
				<img src="/img/game/f_kumo.png">
				<img src="/img/game/f_kumo_2.png">
				<img src="/img/game/f_yama.png">
				<img src="/img/game/f_oka.png">
				<img src="/img/game/f_ie.png">
				<img src="/img/game/f_plan.png">
				<img src="/img/game/f_nekosen.png">
				<img src="/img/game/f_nekosen_2.png">
				<img src="/img/game/f_octo_kenkyuu.png">
				<img src="/img/game/f_taikai.png">
				<img src="/img/game/f_umi.png">
				<img src="/img/game/f_hasi.png">
				<img src="/img/game/f_kori.png">
				<img src="/img/game/f_uchusenta.png">
				<img src="/img/game/f_kyoryu.png">
				<img src="/img/game/i_mati.png">
				<img src="/img/game/i_miti.png">
				<img src="/img/game/i_mori.png">
				<img src="/img/game/i_pon_home.png">
				<img src="/img/game/i_ie_end.png">
				<img src="/img/game/f_octo_hinan.png">
				<img src="/img/game/f_amu_2.png">
				<img src="/img/game/f_amu_3.png">
				<img src="/img/game/f_doukutu.png">
				<img src="/img/game/f_titei_mati.png">
				<img src="/img/game/i_siro.png">
				<img src="/img/game/f_mugen.png">
			</p>
			<p><h3>フィールド2</h3></p>
			<p>
				<img src="/img/field/f_bou.png">
				<img src="/img/field/f_bou_2.png">
				<img src="/img/field/f_bou_3.png">
				<img src="/img/field/f_douro.png">
				<img src="/img/field/f_ie.png">
				<img src="/img/field/f_iwa.png">
				<img src="/img/field/f_koori.png">
				<img src="/img/field/f_kumo.png">
				<img src="/img/field/f_mati.png">
				<img src="/img/field/f_mori.png">
				<img src="/img/field/f_octo.png">
				<img src="/img/field/f_octo_2.png">
				<img src="/img/field/f_oka.png">
				<img src="/img/field/f_sakura.png">
				<img src="/img/field/f_tikyuu.png">
				<img src="/img/field/f_tikyuu_2.png">
				<img src="/img/field/f_yama.png">
				<img src="/img/field/f_ma_siro.png">
				<img src="/img/field/f_ma_zen.png">
			</p>
			<p><h3>演出効果</h3></p>
			<p>
				<img src="/img/game/f_mizu.png">
				<img src="/img/game/f_uchubaku.png">
				<img src="/img/game/i_baku_00.png">
				<img src="/img/game/i_baku_01.png">
				<img src="/img/game/i_baku_02.png">
				<img src="/img/game/i_baku_04.png">
			</p>

			<p><h3>ロゴ</h3></p>
			<p>
				<img src="/img/game/logo.png">
				<img src="/img/game/logo_w.png">
				<img src="/img/game/logo2.png">
				<img src="/img/game/logo3.png">
				<img src="/img/game/f_hosi_1.2.png">
			</p>

			<p><h3>二次創作</h3></p>
			<p>
				<img src="/img/game/c_kuina.png">
				<img src="/img/kuina_01.png">
			</p>
			-->

			<p><h3>キャラクター</h3></p>
			<p>
				<img src="/img/game/c_ai.png">
				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/c_ponta_papa.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_ripo.png">
				<img src="/img/game/m_nekosen.png">
				<img src="/img/game/m_dorai.png">
			</p>
			<p><h3>アイ</h3></p>
			<p>
				<img src="/img/game/c_yui.png">
				<img src="/img/game/c_ai_ai.png">
				<img src="/img/game/c_ai_zen.png">
				<img src="/img/game/c_ai_sword.png">
			</p>
			<p><h3>オクトカット</h3></p>
			<p>
				<img src="/img/game/c_octo_def.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_octo_hakase.png">
				<img src="/img/game/c_octo_hei.png">
				<img src="/img/game/c_zeusu_0.png">
				<img src="/img/game/c_zeusu_1.png">
				<img src="/img/game/c_zeusu_2.png">
				<img src="/img/game/c_zeusu_3.png">
			</p>
		<p><h3>アイテム</h3></p>
			<p>
				<img src="/img/game/item_00.png">
				<img src="/img/game/item_01.png">
				<img src="/img/game/item_02.png">
				<img src="/img/game/item_03.png">
				<img src="/img/game/item_04.png">
				<img src="/img/game/item_05.png">
				<img src="/img/game/item_06.png">
				<img src="/img/game/item_07.png">
				<img src="/img/game/item_08.png">
				<img src="/img/game/item_09.png">
				<img src="/img/game/item_10.png">
				<img src="/img/game/item_11.png">
				<img src="/img/game/item_12.png">
			</p>
			<p><h3>フィールド</h3></p>
			<p>
				<img src="/img/game/f_hosi_1.png">
				<img src="/img/game/f_hosi_2.png">
				<img src="/img/game/f_kumo.png">
				<img src="/img/game/f_kumo_2.png">
				<img src="/img/game/f_yama.png">
				<img src="/img/game/f_oka.png">
				<img src="/img/game/f_plan.png">
				<img src="/img/game/f_taikai.png">
				<img src="/img/game/f_kori.png">
				<img src="/img/game/f_kyoryu.png">
				<img src="/img/game/f_mati.png">
				<img src="/img/game/f_mori.png">
				<img src="/img/game/f_miti.png">
				<img src="/img/game/f_tuki.png">
				<img src="/img/game/f_ie.png">
				<img src="/img/game/f_baku_1.png">
				<img src="/img/game/f_ma_siro.png">
				<img src="/img/game/f_ma_zen.png">
			</p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
