{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p>過去のお絵かき</p>
			</div>
			<p><h3>過去</h3></p>
			<p> 
				<a href="/img/yui_01.png"><img src="/img/yui_01.png"></a>
				<a href="/img/yui_02.png"><img src="/img/yui_02.png"></a>
				<a href="/img/yui_03.png"><img src="/img/yui_03.png"></a>
				<a href="/img/yui_04.png"><img src="/img/yui_04.png"></a>
				<a href="/img/yui_05.png"><img src="/img/yui_05.png"></a>
				<a href="/img/yui_06.png"><img src="/img/yui_06.png"></a>
				<a href="/img/yui_07.png"><img src="/img/yui_07.png"></a>
				<a href="/img/yui_08.png"><img src="/img/yui_08.png"></a>
				<a href="/img/yui_09.png"><img src="/img/yui_09.png"></a>
				<a href="/img/yui_10.png"><img src="/img/yui_10.png"></a>
				<a href="/img/yui_11.png"><img src="/img/yui_11.png"></a>
				<a href="/img/yui_14.png"><img src="/img/yui_14.png"></a>
				<a href="/img/yui_15.png"><img src="/img/yui_15.png"></a>
				<a href="/img/yui_16.png"><img src="/img/yui_16.png"></a>
				<a href="/img/yui_17.png"><img src="/img/yui_17.png"></a>
				<a href="/img/yui_18.png"><img src="/img/yui_18.png"></a>
				<a href="/img/yui_19.png"><img src="/img/yui_19.png"></a>
				<a href="/img/yui_20.png"><img src="/img/yui_20.png"></a>
				<a href="/img/yui_21.png"><img src="/img/yui_21.png"></a>
				<a href="/img/yui_22.png"><img src="/img/yui_22.png"></a>
				<a href="/img/yui_23.png"><img src="/img/yui_23.png"></a>
				<a href="/img/yui_24.png"><img src="/img/yui_24.png"></a>
				<a href="/img/yui_25.png"><img src="/img/yui_25.png"></a>
				<a href="/img/yui_26.png"><img src="/img/yui_26.png"></a>
				<a href="/img/yui_27.png"><img src="/img/yui_27.png"></a>
				<a href="/img/yui_28.png"><img src="/img/yui_28.png"></a>
				<a href="/img/yui_29.png"><img src="/img/yui_29.png"></a>
				<a href="/img/yui_30.png"><img src="/img/yui_30.png"></a>
			</p>
			<p><h3>キャラクター</h3></p>
			<p>
				<img src="/img/game/c_yui.png">

				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/c_ponta_papa.png">
				<img src="/img/game/c_plan.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_grei.png">
				<img src="/img/game/c_ripo.png">
				<img src="/img/game/c_amu.png">
				<img src="/img/game/c_kakiko.png">
				<img src="/img/game/c_sontyou.png">
				<img src="/img/game/c_kitamura.png">
				<img src="/img/game/c_grei_ou.png">
				<img src="/img/game/c_grei_origin.png">
				<img src="/img/game/c_sen.png">
				<img src="/img/game/c_kyouko.png">

			</p>
			<p><h3>キャラクター2</h3></p>
			<p>
				<img src="/img/game/c_octo_def.png">
				<img src="/img/game/c_octo_hei.png">
				<img src="/img/game/c_octo_hakase.png">
				<img src="/img/game/c_yui_mahou.png">
				<img src="/img/game/c_zen_2.png">
				<img src="/img/game/c_sen_2.png">
				<img src="/img/game/c_kitamura_ken.png">
				<img src="/img/game/c_kyousuke_2.png">
				<img src="/img/game/c_kyousuke_3.png">
				<img src="/img/game/c_ponta_2.png">
				<img src="/img/game/c_ponta_3.png">
				<img src="/img/game/c_ponta_4.png">
			</p>
			<p><h3>アイ</h3></p>
			<p>
				<img src="/img/game/ai.png">
				<img src="/img/game/c_yui_back.png">
				<img src="/img/game/c_yui_choukyuu.png">
				<img src="/img/game/c_yui_back_choukyuu.png">
				<img src="/img/game/c_yui_tensi.png">
				<img src="/img/game/c_yui_back_tensi.png">
				<img src="/img/game/c_yui_zen_ken.png">
			</p>
			<p><h3>モンスター</h3></p>
			<p>
				<img src="/img/game/m_nekosen.png">
				<img src="/img/game/m_sinou.png">
				<img src="/img/game/m_torimu.png">
				<img src="/img/game/m_torimu_2.png">
				<img src="/img/game/m_sabonezumi.png">
				<img src="/img/game/m_dorai.png">
				<img src="/img/game/m_dorai_o.png">
			</p>
			<p><h3>アイテム</h3></p>
			<p>
				<img src="/img/game/item_00.png">
				<img src="/img/game/item_01.png">
				<img src="/img/game/item_02.png">
				<img src="/img/game/item_03.png">
				<img src="/img/game/item_04.png">
				<img src="/img/game/item_05.png">
				<img src="/img/game/item_06.png">
				<img src="/img/game/item_07.png">
				<img src="/img/game/item_08.png">
				<img src="/img/game/item_09.png">
				<img src="/img/game/item_10.png">
				<img src="/img/game/item_11.png">
				<img src="/img/game/item_12.png">
				<img src="/img/game/c_zeusu_0.png">
				<img src="/img/game/c_zeusu_1.png">
				<img src="/img/game/c_zeusu_2.png">
				<img src="/img/game/c_zeusu_3.png">
			</p>
			<p><h3>フィールド</h3></p>
			<p>
				<img src="/img/game/f_hosi_1.png">
				<img src="/img/game/f_hosi_1.1.png">
				<img src="/img/game/f_hosi_2.png">
				<img src="/img/game/f_hosi_3.png">
				<img src="/img/game/f_hosi_4.png">
				<img src="/img/game/f_monbo.png">
				<img src="/img/game/f_mizu.png">
				<img src="/img/game/f_kumo.png">
				<img src="/img/game/f_kumo_2.png">
				<img src="/img/game/f_yama.png">
				<img src="/img/game/f_oka.png">
				<img src="/img/game/f_ie.png">
				<img src="/img/game/f_plan.png">
				<img src="/img/game/f_nekosen.png">
				<img src="/img/game/f_nekosen_2.png">
				<img src="/img/game/f_octo_kenkyuu.png">
				<img src="/img/game/f_taikai.png">
				<img src="/img/game/f_umi.png">
				<img src="/img/game/f_hasi.png">
				<img src="/img/game/f_kori.png">
				<img src="/img/game/f_uchusenta.png">
				<img src="/img/game/f_kyoryu.png">
				<img src="/img/game/i_mati.png">
				<img src="/img/game/i_miti.png">
				<img src="/img/game/i_mori.png">
				<img src="/img/game/i_pon_home.png">
				<img src="/img/game/i_ie_end.png">
				<img src="/img/game/f_octo_hinan.png">
				<img src="/img/game/f_amu_2.png">
				<img src="/img/game/f_amu_3.png">
				<img src="/img/game/f_mugen.png">
				<img src="/img/game/i_siro.png">
				<img src="/img/game/i_baku_00.png">
				<img src="/img/game/i_baku_01.png">
				<img src="/img/game/i_baku_02.png">
				<img src="/img/game/i_baku_03.png">
				<img src="/img/game/i_baku_04.png">
			</p>
			<p><h3>ロゴ</h3></p>
			<p>
				<img src="/img/game/logo.png">
				<img src="/img/game/logo_w.png">
				<img src="/img/game/logo2.png">
				<img src="/img/game/logo3.png">
			</p>
			<p><h3>その他</h3></p>
			<p>
				<img src="/img/game/f_hosi_1.2.png">
				<img src="/img/game/c_yui_mode.png">
				<img src="/img/game/zokusei_01.png">
				<img src="/img/game/zokusei_02.png">
			</p>
			<p><h3>二次創作</h3></p>
			<p>
				<img src="/img/game/c_kuina.png">
				<img src="/img/kuina_01_04.png">
			</p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
