{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<p>作った曲です。</p>
			<ul class="cp_list">
			<li> 
				<a href="/music/niji.mp3">niji.mp3</a>
			</li>
			<li> 
				<a href="/music/hosi.mp3">hosi.mp3</a>
			</li>
			<li> 
				<a href="/music/tuki.mp3">tuki.mp3</a>
			</li>
			<li> 
				<a href="/music/siro.mp3">siro.mp3</a>
			</li>
			<li> 
				<a href="/music/sora.mp3">sora.mp3</a>
			</li>
			<li> 
				<a href="/music/gaia.mp3">gaia.mp3</a>
			</li>
			<li> 
				<a href="/music/yume_renri.mp3">yume.mp3</a>
			</li>
			<h3>ミュージックビデオ</h3>
			<li>
			    	<!--<a href="https://www.youtube.com/embed/qbBtpN1Bf7o">tuki feat. hatsune miku</a>-->
			    	<a href="/music/tuki.mp4">tuki feat. hatsune miku</a>
				<div class="music-img"> <img src="/music/tuki_mp4.png" width="140" height="140"/> </div>
			</li>
			<h3>アルバム</h3>
			<li>
				<a href="/music/music.zip">music.zip</a>
			</li>
			<h3>外部リンク</h3>
			<li>
			    <a href="https://soundcloud.com/asyui">soundcloud</a>
			</ul>
			<p>docs : <a href="https://github.com/syui/vocaloid">syui/vocaloid</a></p>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
