{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<article>
	<div class="content">
		<p>曲を作ります</p>
		<ul class="cp_list">
			<li> 
				<a href="/music/tuki.mp3">tuki.mp3</a>
				<p><audio controls> <source src="/music/tuki.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/siro.mp3">siro.mp3</a>
				<p><audio controls> <source src="/music/siro.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/gaia.mp3">gaia.mp3</a>
				<p><audio controls> <source src="/music/gaia.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/yume.mp3">yume.mp3</a>
				<p><audio controls> <source src="/music/yume.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/yuki.mp3">yuki.mp3</a>
				<p><audio controls> <source src="/music/yuki.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/kira.mp3">kira.mp3</a>
				<p><audio controls> <source src="/music/kira.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/hosi.mp3">hosi.mp3</a>
				<p><audio controls> <source src="/music/hosi.mp3"> </audio></p>
			</li>
			<li> 
				<a href="/music/niji.mp3">niji.mp3</a>
				<p><audio controls> <source src="/music/niji.mp3"> </audio></p>
			</li>

			<h3>ミュージックビデオ</h3>
			<p><video controls style="width:100%;"> <source src="/music/tuki.mp4"> </video></p>
			<h3>アルバム</h3>
			<li>
				<a href="/music/origin_master.zip">origin/master</a>
			</li>
			<li>
				<a href="/music/origin_other.zip">origin/other</a>
			</li>

			<h3>BGM</h3>
			<li> 
				<a href="/music/bsen.mp3">bsen.mp3</a>
				<p><audio controls> <source src="/music/bsen.mp3"> </audio></p>
			</li>
			<h3>外部リンク</h3>
			<li>
				<a href="https://soundcloud.com/asyui">soundcloud</a>
		</ul>
		<p>docs : <a href="https://github.com/syui/vocaloid">syui/vocaloid</a></p>
	</div>
</article>

	</div>
		{{ partial "footer.html" . }}
	</body>
</html>
