{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

			<div id="container">
  					{{ partial "google-ads-post.html" . }}
			    <div class="outer">
				<div id="blog-archives" class="category">
				    <ul class="cp_list">
					{{ range .Pages }}
					<li><span class="icon-moon"></span>
						{{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}">{{.Title}}</a></p>
					</li>
					{{ end }}
				    </ul>
				</div>
				{{ $s := path.Dir (.Permalink | relURL) }}
				{{ $t := index (split $s "/") 1 }}
				{{ if eq $t "tags" }}
				  {{- range $termName, $index := .Site.Taxonomies.tags }}
					<span class="tag"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">{{ $termName }}</a></span>
				  {{- end }}
				{{ end }}
			    </div>
			</div>
		</div>
		{{ partial "footer" . }}
</body>
</html>
