{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
{{ partial "head-sns.html" . }}

<div id="container">
	<div class="outer">
		<div id="blog-archives" class="category">
			<ul class="cp_list">
				{{ range $index,$value := .Data.Pages.ByLastmod.Reverse }}
				<li>
					{{ if not $index }}
					{{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}" id="fmove" class="lmove">{{.Title}}</a></p>
					{{ else }}
					{{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}" class="lmove">{{.Title}}</a></p>
					{{ end }}
				</li>
				{{ end }}
			</ul>
		</div>
		{{ $s := path.Dir (.Permalink | relURL) }}
		{{ $t := index (split $s "/") 1 }}
		{{ if eq $t "tags" }}
		{{- range $termName, $index := .Site.Taxonomies.tags }}
		<span class="tag"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">{{ $termName }}</a></span>
		{{- end }}
		{{ end }}
	</div>
</div>
</div>
{{ partial "footer" . }}
</body>
</html>
