{{ partial "head-blog.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

       			<article>
       			 	<div class="content">
				        <h2>{{ .Title }}</h2>
       			 		{{ .Content }}
       			 		{{ partial "prev_next_post.html" . }}
					<div class="utterances">
						<script src="https://utteranc.es/client.js" repo="syui/syui.github.io" issue-term="pathname" theme="github-light" crossorigin="anonymous" async> </script>
					</div>
       			 	</div>
       			</article>
		</div>
		{{ partial "footer.html" . }}

	</body>
</html>
