{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<p>個人的に使用しているお気に入りのアイテム</p>

			<h3><a target="_blank" href="https://www.amazon.co.jp/gp/product/B00E3NY2XG/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00E3NY2XG&linkCode=as2&tag=123456705-22&linkId=d1f05ee50d1d9bcbc28bbb19d87268fd" style="color:#fd7e14">ショルダーバッグ</a></h3>
			<blockquote>
			<a target="_blank" href="https://www.amazon.co.jp/gp/product/B00E3NY2XG/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00E3NY2XG&linkCode=as2&tag=123456705-22&linkId=f4f656be22fad7629b61674d3de4dac2"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00E3NY2XG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=123456705-22" style="float:left;margin-right:20px;margin-bottom:0px;" ></a>
			<p><code>GRANDSTONE</code>のショルダーバッグがお気に入り。このカバンに入らないものは基本的に持ち運ばない。</p>
			<p style="clear:both;"></p>
			</blockquote>

			<h3><a target="_blank" href="https://www.amazon.co.jp/gp/product/B0863FVTCZ/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B0863FVTCZ&linkCode=as2&tag=123456705-22&linkId=2a64ee936b3f89db5c8865efb471a30b" style="color:#fd7e14">MacBook Air</a></h3>
			<blockquote>
			<a target="_blank" href="https://www.amazon.co.jp/gp/product/B0863FVTCZ/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B0863FVTCZ&linkCode=as2&tag=123456705-22&linkId=07927becbd46bf00c56a9bdaf312f451"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B0863FVTCZ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=123456705-22" style="float:left;margin-right:20px;margin-bottom:0px;" ></a>
			<p>初めて買ったパソコンが<code>MacBook Air</code>だったこともあり、その後もずっとMacBook Airを選択している。</p>
			<p>技術仕様 : <a target="_blank" href="https://support.apple.com/kb/SP713">2015</a></p>
			<p style="clear:both;"></p>
			</blockquote>

			<h3>iPhone SE</h3>
			<blockquote>
			<img border="0" src="https://raw.githubusercontent.com/mba-hack/images/master/iphone_se.png" style="float:left;margin-right:20px;margin-bottom:0px;" >
			<p>iPhone 5Sからの移行でSEを使っている。小さなサイズとボディが好み。</p>
			<p>技術仕様 : <a target="_blank" href="https://support.apple.com/kb/SP738">iPhone SE</a></p>
			<p style="clear:both;"></p>
			</blockquote>
	
			<h3><a target="_blank" href="https://www.amazon.co.jp/gp/product/B07PQRFYLF/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07PQRFYLF&linkCode=as2&tag=123456705-22&linkId=1aef0a60aa9332b8514c07fd97f5c08f" style="color:#fd7e14">iPad</a></h3>
			<blockquote>
			<a target="_blank" href="https://www.amazon.co.jp/gp/product/B07PQRFYLF/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07PQRFYLF&linkCode=as2&tag=123456705-22&linkId=c12ccd20b58be08ea37a589cd8f6adce"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07PQRFYLF&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=123456705-22" style="float:left;margin-right:20px;margin-bottom:0px;" ></a>
			<p>現在は<code>iPad 7th</code>でお絵かきしてる。<code>Nexus7(2013)</code>からの移行。</p>
			<p>技術仕様 : <a target="_blank" href="https://support.apple.com/kb/SP807">iPad 7th</a></p>
			<p style="clear:both;"></p>
			</blockquote>

			<h3><a target="_blank" href="https://www.amazon.co.jp/gp/product/B00EEWFAI2/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00EEWFAI2&linkCode=as2&tag=123456705-22&linkId=491711af3712c470ce06adb8bac7afb8" style="color:#fd7e14">初音ミク V3</a></h3>
			<blockquote>
			<a target="_blank" href="https://www.amazon.co.jp/gp/product/B00EEWFAI2/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00EEWFAI2&linkCode=as2&tag=123456705-22&linkId=14081ece845eb64a31a23c6c4bd9c163"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00EEWFAI2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=123456705-22" style="float:left;margin-right:10px;margin-bottom:0px;"></a>
			<p>初めて作曲したときに買ったやつ。今でもこれを使って作曲している。</p>
			<p>ただ、私が使っている<code>V3</code>は古く、新しい <a target="_blank" href="https://www.amazon.co.jp/gp/product/B01G6XNQ5A/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01G6XNQ5A&linkCode=as2&tag=123456705-22&linkId=df083d9c237e58e136ac83cbe7b8ad15">初音ミク V4X</a> が出ている。</p>
			<p style="clear:both;"></p>
			</blockquote>
		
			<div class="google-ads">
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-7486046788071230"
				     data-ad-slot="7628124683"
				     data-ad-format="auto"
				     data-full-width-responsive="true"></ins>
				<script>
				     (adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>

			<p style="margin-top:30px;">
			<blockquote style="color:#fd7e14">
			Amazon Associateを利用しています <i class="fab fa-amazon"></i> 
			</blockquote>
			</p>

			<p>
			<blockquote style="color:#fd7e14">
			Google AdSenseを利用しています <i class="fab fa-google"></i> 
			</blockquote>
			</p>

		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
