{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
{{ partial "imgtest.html" . }}

<p>
	{{ $yuin := getenv "IMG_YUI" }}
	{{ $yuil := int $yuin }} 
	{{ $yuil := sub $yuil 1 }}
	{{ $yuic := getenv "IMG_YUIC" }}
	{{ $yuia := getenv "IMG_YUIA" }}
	{{ $yuio := getenv "IMG_YUIO" }}
	{{ $yuii := getenv "IMG_YUII" }}
	{{ $yuif := getenv "IMG_YUIF" }}

	<p>
			<img src="/img/yui_{{ $yuil }}.png"/>
	</p>

	<p>
	{{ range $index, $val := seq $yuin }}
	{{ if lt $index 10 }}
	<img src="/img/yui_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/yui_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

<p>
	{{ range $index, $val := seq $yuic }}
	{{ if lt $index 10 }}
	<img src="/img/c_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/c_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

<p>
	{{ range $index, $val := seq $yuia }}
	{{ if lt $index 10 }}
	<img src="/img/ai_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/ai_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

<p>
	{{ range $index, $val := seq $yuio }}
	{{ if lt $index 10 }}
	<img src="/img/octo_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/octo_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

<p>
	{{ range $index, $val := seq $yuii }}
	{{ if lt $index 10 }}
	<img src="/img/item_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/item_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

<p>
	{{ range $index, $val := seq $yuif }}
	{{ if lt $index 10 }}
	<img src="/img/f_0{{ $index }}.png"/>
	{{ else }}
	<img src="/img/f_{{ $index }}.png"/>
	{{ end }}
	{{ end }}
</p>

		{{ .Content }}
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>

