{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<p>文字を作ります</p>


			<p><img src="/moji/0.png"/></p>
			<h3>:a:</h3><div class="moji"><p><img src="/moji/a.png"></p></div>
			<h3>:b:</h3><div class="moji"><p><img src="/moji/b.png"></p></div>
			<h3>:c:</h3><div class="moji"><p><img src="/moji/c.png"></p></div>
			<h3>:d:</h3><div class="moji"><p><img src="/moji/d.png"></p></div>
			<h3>:e:</h3><div class="moji"><p><img src="/moji/e.png"></p></div>
			<h3>:f:</h3><div class="moji"><p><img src="/moji/f.png"></p></div>
			<h3>:g:</h3><div class="moji"><p><img src="/moji/g.png"></p></div>
			<h3>:h:</h3><div class="moji"><p><img src="/moji/h.png"></p></div>
			<h3>:i:</h3><div class="moji"><p><img src="/moji/i.png"></p></div>
			<h3>:j:</h3><div class="moji"><p><img src="/moji/j.png"></p></div>
			<h3>:k:</h3><div class="moji"><p><img src="/moji/k.png"></p></div>
			<h3>:l:</h3><div class="moji"><p><img src="/moji/l.png"></p></div>
			<h3>:m:</h3><div class="moji"><p><img src="/moji/m.png"></p></div>
			<h3>:n:</h3><div class="moji"><p><img src="/moji/n.png"></p></div>
			<h3>:o:</h3><div class="moji"><p><img src="/moji/o.png"></p></div>
			<h3>:p:</h3><div class="moji"><p><img src="/moji/p.png"></p></div>
			<h3>:q:</h3><div class="moji"><p><img src="/moji/q.png"></p></div>
			<h3>:r:</h3><div class="moji"><p><img src="/moji/r.png"></p></div>
			<h3>:s:</h3><div class="moji"><p><img src="/moji/s.png"></p></div>
			<h3>:t:</h3><div class="moji"><p><img src="/moji/t.png"></p></div>
			<h3>:u:</h3><div class="moji"><p><img src="/moji/u.png"></p></div>
			<h3>:v:</h3><div class="moji"><p><img src="/moji/v.png"></p></div>
			<h3>:w:</h3><div class="moji"><p><img src="/moji/w.png"></p></div>
			<h3>:x:</h3><div class="moji"><p><img src="/moji/x.png"></p></div>
			<h3>:y:</h3><div class="moji"><p><img src="/moji/y.png"></p></div>
			<h3>:z:</h3><div class="moji"><p><img src="/moji/z.png"></p></div>

		</div>
	</body>
</html>
