		<script src="{{ .Site.BaseURL }}/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/axios/dist/axios.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.hotkeys/hotkeys.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.terminal/js/jquery.terminal.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.terminal/js/jquery.mousewheel-min.js"></script>
		<script src="{{ .Site.BaseURL }}/js/terminal.quick.js"></script>
		<script src="{{ .Site.BaseURL }}/js/terminal.js"></script>
		<app></app>
		<script src="{{ .Site.BaseURL }}/build/bundle.js"></script>
