<html>
<head>
		<title>{{ .Title }}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="{{ .Site.Author.name }}" />
		<meta name="copyright" content="© {{ .Site.Author.name }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="syui nyancat" />
		<meta name="keywords" content="syui" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@syui__" />
		<meta name="google" content="notranslate" />
		<meta name="robots" content="all, noarchive" />
		<meta name="googlebot" content="all, noarchive" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ .Site.Title }}" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:description" content="syui nyancat" />
		<meta property="og:image" content="/favicon.png" />
		<meta property="og:url" content="{{ .Site.BaseURL }}" />
		<meta property="og:site_name" content="{{ .Site.Title }}" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

	<link href="/bsky/app.css" rel="preload" as="style">
	<link href="/bsky/app.js" rel="preload" as="script">
	<link href="/bsky/chunk-vendors.js" rel="preload" as="script">
	<link href="/bsky/app.css" rel="stylesheet">
</head>
