<article>
	<div class="content">
		<h2>link</h2>
		<p><i class="fab fa-bluesky"></i> <a href="https://bsky.app/profile/syui.ai">https://bsky.app/profile/syui.ai</a></p>
		<p><i class="fab fa-github"></i> <a href="https://github.com/syui">https://github.com/syui</a></p>
		<p><i class="fab fa-x"></i> <a href="https://x.com/syui__">https://x.com/syui__</a></p>
		<h2>host</h2>
		<p><i class="fab fa-bluesky"></i> <a href="https://web.syu.is/@syui">https://web.syu.is/@syui</a></p>
		<p><i class="fab fa-mastodon"></i> <a href="https://mstdn.syui.ai/@syui">https://mstdn.syui.ai/@syui</a></p>
		<p><span class="icon-git"></span> <a href="https://git.syui.ai/syui">https://git.syui.ai/syui</a></p>
	</div>
</article>
