<h3>自己紹介</h3>
<blockquote>
	<p><code>syui</code>といいます。よろしくおねがいします。</p>
	<p>本名の頭文字です。<code>syu</code>を名前から、<code>i</code>を名字から取りました。</p>
	<p>何もできませんが、これから色んなことをやっていければと思います！</p>
</blockquote>

<h3>アイコン</h3>
<blockquote>
	<p>アイコンは初代から移行しました。</p>
	<p><img src="/img/phoenix_chenge.png" alt=""></p>
</blockquote>

<h3>サイト</h3>
<blockquote>
	<p>サイトは<code>syui.cf</code>から<code>syui.ai</code>に移行しました。</p>
</blockquote>

<h3>写真</h3>
<blockquote>
	<p><img src="/img/about.png"></p>
</blockquote>

<h3>ランニング</h3>
<blockquote>
	<p>日課はランニングです。</p>
	<p><img src="/img/nike.png"></p>
</blockquote>

<h3>バッジ</h3>
<blockquote>
	<p>バッジを作りました</p>
	<p><img src="/img/badge.jpg"></p>
</blockquote>

<h3>カード</h3>
<blockquote>
	<p>カードを作りました</p>
	<p><img src="/img/card.jpg"></p>
</blockquote>

<h3>フィギュア</h3>
<blockquote>
	<p>フィギュアを作りました</p>
	<p><img src="/img/figure.jpg"></p>
</blockquote>

<h3>絵本</h3>
<blockquote>
	<p>絵本を作りました</p>
	<p><img src="/photo/book.jpg"></p>
</blockquote>

<h3>3Dモデル</h3>
<blockquote>
<p>3Dモデルを作ってみました！</p>
<div class="sketchfab-embed-wrapper"> <iframe title="figure(by scaniverse)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="380" src="https://sketchfab.com/models/9e65c253cacd42c2b5d579a8e5523b72/embed?camera=0"> </iframe> </div>
</blockquote>

<h3>秘密の箱</h3>
<blockquote>
	<p>ひみつのはこをあけるには <code>Ctrl + Enter</code> のこまんど！</p>
</blockquote>

