

<article>
	<div class="content">
		<h2>自己紹介</h2>
		<p><code>syui</code>といいます。よろしくおねがいします。</p>
		<p>本名の頭文字です。<code>syu</code>を名前から、<code>i</code>を名字から取りました。</p>
		<p>何もできませんが、これから色んなことをやっていければと思います！</p>

		<h2>アイコン</h2>
		<p>アイコンは初代から移行しました。</p>
		<p><img src="/img/phoenix_chenge.png" alt=""></p>

		<h2>サイト</h2>
		<p>サイトは<code>syui.cf</code>から<code>syui.ai</code>に移行しました。</p>

		<h2>写真</h2>
		<p><img src="/img/about.png"></p>

		<h2>ランニング</h2>
		<p>日課はランニングです。</p>
		<p><img src="/img/nike.png"></p>

		<h2>秘密の箱</h2>
		<blockquote>
			<p>ひみつのはこをあけるには <code>Ctrl + Enter</code> のこまんど！</p>
		</blockquote>

	</div>
</article>
