			<h3>自己紹介</h3>
			<blockquote>
				<p><code>syui</code>といいます。よろしくおねがいします。</p>
			 <p>本名の頭文字です。<code>syu</code>を名前から、<code>i</code>を名字から取りました。</p>
				<p>何もできませんが、これから色んなことをやっていければと思います！</p>
			</blockquote>

			<h3>アイコン</h3>
			<blockquote>
				<p>アイコンは初代から移行しました。</p>
				<p><img src="/img/phoenix_chenge.png" alt=""></p>
			</blockquote>

			<h3>写真</h3>
			<blockquote>
				<p><img src="/img/about.png"></p>
			</blockquote>

			<h3>ポケモンGo</h3>
			<blockquote>
			    <p>ポケモンと一緒に冒険しています！</p>
<link href=/img/pogo/app.css rel=preload as=style><link href=/img/pogo/app.js rel=preload as=script><link href=/img/pogo/chunk-vendors.css rel=preload as=style><link href=/img/pogo/chunk-vendors.js rel=preload as=script><link href=/img/pogo/chunk-vendors.css rel=stylesheet><link href=/img/pogo/app.css rel=stylesheet><div id=app></div><script src=/img/pogo/chunk-vendors.js></script><script src=/img/pogo/app.js></script>

			</blockquote>
			<h3>イングレス</h3>
			<blockquote>
			    <p>エージェントやってます！</p>
			<p><img src="/img/ingress.jpg"></p>
			</blockquote>

			<h3>ランニング</h3>
			<blockquote>
				<p>日課はランニングです。</p>
			<p><img src="/img/nike.png"></p>
			</blockquote>

			<h3>秘密の箱</h3>
			<blockquote>
			    <p>ひみつのはこをあけるには <code>Ctrl + Enter</code> のこまんど！</p>
			</blockquote>

			<h3>バッグ</h3>
			<blockquote>
				<p>バッグの中身は<a href="/item">こちら</a></p>
			</blockquote>
