<div class="content-top">
 <p style="text-align:right;"><a href="/sitemap/"><i class="fas fa-bars"></i></a></p>
 <blockquote>
	<p>
	<div class="footer-link">
	 <a href="https://github.com/syui/" target="_blank"><i class="fab fa-github"></i></a>
	 <a href="https://twitter.com/syui__" target="_blank"><i class="fab fa-twitter"></i></a>
	 <a href="/index.xml" target="_blank"><i class="fas fa-rss"></i></a>
	</div>
	</p>
 </blockquote>

 <div id="blog-archives" class="category">
	<ul class="cp_list">
	 {{ range first 7 (where $.Site.RegularPages "Section" "blog") }}
	 <li>
		<a href="{{.Permalink}}">{{.Title}}</a>
	 </li>
	 {{ end }}
	</ul>
 <p style="text-align:center;"><a href="/blog/"><i class="fas fa-bars"></i></a></p>
 </div>
</div>
