<h3>ポケモンGo</h3>
<blockquote>
	<p>ポケモンと一緒に冒険しています！</p>
	<link href=/img/pogo/app.css rel=preload as=style><link href=/img/pogo/app.js rel=preload as=script><link href=/img/pogo/chunk-vendors.css rel=preload as=style><link href=/img/pogo/chunk-vendors.js rel=preload as=script><link href=/img/pogo/chunk-vendors.css rel=stylesheet><link href=/img/pogo/app.css rel=stylesheet><div id=app></div><script src=/img/pogo/chunk-vendors.js></script><script src=/img/pogo/app.js></script>
</blockquote>

<h3>原神</h3>
<blockquote>
	<p>原神やってます！</p>
	<p><img src="/img/genshin.jpg"></p>
</blockquote>

