
<div class="content-top">

	<div id="blog-archives" class="category">
		<ul class="cp_list">
			{{ range $index,$value := first 7 (where $.Site.RegularPages.ByDate.Reverse "Section" "blog") }}
			<li>
				{{ if not $index }}
				{{ .Date.Local.Format "2006-01-02" }}<p><a id="fmove" href="{{.Permalink}}" class="lmove">{{.Title}}</a></p>
				{{ else }}
				{{ .Date.Local.Format "2006-01-02" }}<p><a href="{{.Permalink}}" class="lmove">{{.Title}}</a></p>
				{{ end }}
			</li>
			{{ end }}
			<li><p style="text-align:center;"><a href="/blog/" class="lmove"><i class="fas fa-bars"></i></a></p></li>
		</ul>
	</div>
</div>
