<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="{{ .Site.Author.name }}" />
		<meta name="copyright" content="© {{ .Site.Author.name }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="syui is page" />
		<meta name="keywords" content="syui" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@syui__" />
		<meta name="google" content="notranslate" />
		<meta name="robots" content="all, noarchive" />
		<meta name="googlebot" content="all, noarchive" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="syui.cf" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:description" content="syui.cf is about" />
		<meta property="og:image" content="/favicon.png" />
		<meta property="og:url" content="https://syui.cf" />
		<meta property="og:site_name" content="syui.cf" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="stylesheet" href="/bower_components/icomoon/css/icomoon.css" />
		<link rel="stylesheet" href="/css/top.css" />
		<script src="/js/analytics.js"></script>
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "WebSite",
			  "name": "syui.cf",
			  "url": "https://syui.cf/"
			}
		</script>
	</head>
