{{ $s := path.Dir (.Permalink | relURL) }}
{{ $t := index (split $s "/") 2 }}
{{ $o := index (split $s "/") 1 }}
{{ if eq $t "post" }}
<body onload="highlight_prompt()">
	{{ else }} 
	<body>
		{{ end }}
		<div class="containerx">
			<header id="header">
				{{ if eq $t "note" }}
				<div class="logo"> <a href="/archive"> {{ partial "svg.html" . }} </a> </div>
				{{ else if eq $t "post" }}
				<div class="logo"> <a href="/blog"> {{ partial "svg.html" . }} </a> </div>
				{{ else if eq $t "dev" }}
				<div class="logo"> <a href="/app"> {{ partial "svg.html" . }} </a> </div>
				{{ else if eq $t "yui" }}
				<div class="logo"> <a href="/novel"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "ai" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "imgai" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "imgall" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "imgame" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "novel" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "manga" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "gamechara" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else if eq $o "gamedoc" }}
				<div class="logo"> <a href="/ai"> {{ partial "svg-ai.html" . }} </a> </div>
				{{ else }}
				<div class="logo"> <a href="/" > {{ partial "svg.html" . }} </a> </div>
				{{ end }}
			</header>
