<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="{{ .Site.Author.name }}" />
		<meta name="copyright" content="© {{ .Site.Author.name }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="syui is homepage" />
		<meta name="keywords" content="syui" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@syui__" />
		<meta name="google" content="notranslate" />
		<meta name="robots" content="all, noarchive" />
		<meta name="googlebot" content="all, noarchive" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="syui.cf" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:description" content="syui is page" />
		<meta property="og:image" content="/favicon.png" />
		<meta property="og:url" content="https://syui.cf" />
		<meta property="og:site_name" content="syui.cf" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="stylesheet" href="/bower_components/icomoon/css/icomoon.css" />
		<link rel="stylesheet" href="/bower_components/jquery.terminal/css/jquery.terminal.css" />
		<link rel="stylesheet" href="/css/terminal.css" />
		<link rel="stylesheet" href="/css/terminal.mobile.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/nav.css" />
		<link rel="stylesheet" href="/css/svg.css" />
		<link rel="stylesheet" href="/bower_components/font-awesome/css/all.min.css" />
		<script src="https://syui.cf/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="https://syui.cf/bower_components/axios/dist/axios.min.js"></script>
		<script src="https://syui.cf/bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
		<script src="https://syui.cf/bower_components/jquery.hotkeys/hotkeys.js"></script>
		<script src="https://syui.cf/bower_components/jquery.terminal/js/jquery.terminal.min.js"></script>
		<script src="https://syui.cf/bower_components/jquery.terminal/js/jquery.mousewheel-min.js"></script>
		<script src="https://syui.cf/js/terminal.quick.js"></script>
		<script src="https://syui.cf/js/terminal.js"></script>
		<app></app>
		<script src="https://syui.cf/build/bundle.js"></script>
		<script src="https://syui.cf/js/analytics.js"></script>
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "WebSite",
			  "name": "syui.cf",
			  "url": "https://syui.cf/"
			}
		</script>

		<link rel="stylesheet" href="/js/mastodon/mastodon.widget.css" />
		<script type="text/javascript" src="/js/mastodon/mastodon.widget.js"></script>
		<script type="text/javascript" src="/js/mastodon/mastodon.widget-jp.js"></script>
		<script>
		$(document).ready(function() {
		  var mapi = new MastodonApi({
		    target_selector  : '#myTimeline'
		    ,instance_uri    : 'https://mstdn.syui.cf'
		    ,access_token    : '5gSyEqVXRn-jdAKn2prW9I09iFrmEd3K2Es9dgr9mOE'
		    ,account_id      : '1'
		  });
		});
		</script>
	</head>
