{{ $s := path.Dir (.Permalink | relURL) }}
{{ $t := index (split $s "/") 2 }}
{{ $o := index (split $s "/") 1 }}
{{ if eq $t "post" }}
<body onload="highlight_prompt()">
	{{ else if eq $o "api" }} 
<body onload="highlight_prompt()">
	{{ else }}
	<body>
		{{ end }}
		<div class="containerx">
			<header id="header">
				{{ if eq $t "note" }}
				<div class="logo"> <a href="/archive"> {{ partial "svg.html" . }} </a> </div>
				{{ else if eq $t "post" }}
				<div class="logo"> <a href="/blog"> {{ partial "svg.html" . }} </a> </div>

				{{ else if eq $t "dev" }}
				<div class="logo"> <a href="/app"> {{ partial "svg.html" . }} </a> </div>

				{{ else if eq $o "ai" }}
				<div class="logo"> 
					{{ partial "ai-star.html" . }}
				</div>

				{{ else }}
				<div class="logo">
					{{ partial "svg.html" . }}
					{{ partial "term.html" . }}
				</div>
				{{ end }}
			</header>
