<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="{{ .Site.Author.name }}" />
		<meta name="copyright" content="© {{ .Site.Author.name }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="syui" />
		<meta name="keywords" content="syui" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@syui__" />
		<meta name="robots" content="all" />
		<meta name="googlebot" content="all" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ .Title }}" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}syui{{ end }}" />
		<meta property="og:image" content="{{ .Site.BaseURL }}/icon/syui.jpg" />
		<meta property="og:url" content="{{ .Site.BaseURL }}" />
		<meta property="og:site_name" content="{{ .Title }}" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="stylesheet" href="/bower_components/icomoon/css/icomoon.css" />
		<link rel="stylesheet" href="/bower_components/jquery.terminal/css/jquery.terminal.css" />
		<link rel="stylesheet" href="/css/terminal.css" />
		<link rel="stylesheet" href="/css/terminal.mobile.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/nav.css" />
		<link rel="stylesheet" href="/css/svg.css" />
		<link rel="stylesheet" href="/bower_components/font-awesome/css/all.min.css" />
		<script src="{{ .Site.BaseURL }}/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/axios/dist/axios.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.hotkeys/hotkeys.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.terminal/js/jquery.terminal.min.js"></script>
		<script src="{{ .Site.BaseURL }}/bower_components/jquery.terminal/js/jquery.mousewheel-min.js"></script>
		<script src="{{ .Site.BaseURL }}/js/terminal.quick.js"></script>
		<script src="{{ .Site.BaseURL }}/js/terminal.js"></script>
		<app></app>
		<script src="{{ .Site.BaseURL }}/build/bundle.js"></script>
		<script src="{{ .Site.BaseURL }}/js/analytics.js"></script>
		<script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "WebSite",
					"name": "{{ .Title }}",
					"url": "{{ .Site.BaseURL }}"
			}
		</script>
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
	</head>
