<div class="top-sns-header">
	<a href="/sitemap/"><i class="far fa-question-circle"></i></a>
</div>
<blockquote class="ai">
	<p>
	<div class="footer-link">
		<a href="https://yui.syui.ai"><span class="icon-ai"></span></a>
		<!--
		<a href="https://github.com/syui/" target="_blank"><i class="fab fa-github"></i></a>
		<a href="https://twitter.com/syui__" target="_blank"><i class="fab fa-twitter"></i></a>
		<a href="/blog/index.xml"><i class="fas fa-rss"></i></a>
		<a href="https://bsky.app/profile/syui.ai" target="_blank" class="bluesky-icon"><i class="fa-solid fa-at"></i></a>
		<a rel="me" href="https://mstdn.syui.ai/@syui" target="_blank"><i class="fab fa-mastodon"></i></a>
		<a rel="me" href="https://mozilla.social/@ai" target="_blank"><i class="fab fa-firefox"></i></a>
		<a href="https://matrix.to/#/@syui:syui.ai" target="_blank" class="matrix-icon">[m]</a>
		<a href="https://git.syui.ai/syui" target="_blank"><i class="fab fa-git-alt"></i></a>
		<a href="https://api.syui.ai/users/1"><span class="icon-api"></span></a>
		-->
	</div>
	</p>
</blockquote>
