<div class="sns-link">
	<p><i class="fab fa-github"></i> <a href="https://github.com/syui" target="_blank">@syui</a></p>
	<p><span class="icon-git"></span> <a href="https://git.syui.ai/syui" target="_blank">@syui</a></p>
	<p><i class="fa-brands fa-bluesky"></i> <a href="https://web.syu.is/@syui" target="_blank" class="bluesky-icon">@syui</a></p>
	<!--
	<p><i class="fab fa-twitter"></i> <a href="https://twitter.com/syui__" target="_blank">@syui__</a></p>
	<p>m <a href="https://matrix.to/#/@syui:syui.ai" target="_blank">@syui:syui.ai</a></p>
	<p><i class="fab fa-mastodon"></i> <a rel="me" href="https://mstdn.syui.ai/@syui" target="_blank">@syui@syui.ai</a></p>

		<p><i class="fab fa-github"></i> <a href="https://github.com/syui/" target="_blank">syui</a></p>
		<p><i class="fab fa-twitter"></i> <a href="https://twitter.com/syui__" target="_blank">syui__</a></p>
		<p><i class="fab fa-mastodon"></i> <a rel="me" href="https://mstdn.syui.ai/@syui" target="_blank">@syui@syui.ai</a>
		<p><i class="fa-solid fa-message"></i> <a href="https://matrix.to/#/@syui:syui.ai" target="_blank">@syui:syui.ai</a></p>
		<p><i class="fa-regular fa-envelope"></i> <a href="mailto:syui@syui.ai" target="_blank">syui@syui.ai</a></p>
		<p><i class="fab fa-mastodon"></i> <a href="https://mitra.syui.ai/@syui" target="_blank">@syui@mitra.syui.ai</a></p>
		<p><i class="fab fa-mastodon"></i> <a href="https://mastodon.social/@syui" target="_blank">@syui@mastodon.social</a></p>
		<p><i class="fab fa-mastodon"></i> <a href="https://mozilla.social/@ai" target="_blank">@ai@mozilla.social</a></p>
		</p>
	-->
</div>
