<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkupai">
		<div class="navbar-nav">
			<span class="navbar-title-text"><a class="navbar-title" href="/ai">ai</a></span>
			<div class="navbar-nav-left">
				<a class="navbar-brand" href="/ai/img">イラスト</a>
				<a class="navbar-brand" href="/ai/manga">マンガ</a>
				<a class="navbar-brand" href="/ai/game">ゲーム</a>
				<a class="navbar-brand" href="/ai/novel">ノベル</a>
				<a class="navbar-brand" href="/ai/tarot">カード</a>
			</div>
		</div>
		<div class="navbar-nav-right">
			<a href="/"><span class="icon-syui"></span></a>
		</div>
</nav>
