<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<span class="navbar-title-text"><a class="navbar-title" href="/">{{ .Site.Title }}</a></span>
			<div class="navbar-nav-left">
				<a class="navbar-brand" href="/blog">ブログ</a>
				<a class="navbar-brand" href="/icon">デザイン</a>
				<a class="navbar-brand" href="/img">イラスト</a>
				<a class="navbar-brand" href="/music">ミュージック</a>
				<a class="navbar-brand" href="/app">アプリ</a>
				<a class="navbar-brand" href="/archive">アイデア</a>
			</div>
		</div>
		<div class="navbar-nav-right">
			<a href="/syui"><span class="icon-syui"></span></a>
		</div>
</nav>
