<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<div class="navbar-nav">
	    <a href="/"><span class="icon-phoenix-world"></span></a>
	    <div class="navbar-nav-left">
	    <a class="navbar-brand" href="/syui">syui</a>
	    <a class="navbar-brand" href="/blog">ブログ</a>
	    <a class="navbar-brand" href="/icon">デザイン</a>
	    <a class="navbar-brand" href="/img">イラスト</a>
	    <a class="navbar-brand" href="/music">ミュージック</a>
	    <a class="navbar-brand" href="/app">アプリ</a>
	    <a class="navbar-brand" href="/imgame">ゲーム</a>
	    <a class="navbar-brand" href="/manga">マンガ</a>
	    <a class="navbar-brand" href="/archive">アイデア</a>
	    </div>
	</div>
	<div class="navbar-nav-right">
	    <a href="https://mstdn.syui.cf/@syui" target="_blank"><i class="fab fa-mastodon"></i></a>
	    <a href="https://git.syui.cf/syui" target="_blank"><i class="fab fa-git-alt"></i></a>
	    <a href="/blog/index.xml" target="_blank"><i class="fas fa-rss"></i></a>
	</div>
</nav>
