<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<span class="navbar-title-text"><a href="/"><span class="icon-syui"></span></a></span>
			<div class="navbar-nav-left">
				<a class="navbar-brand" href="/blog">ブログ</a>
				<a class="navbar-brand" href="/m">タグ</a>
				<a class="navbar-brand" href="/icon">アイコン</a>
				<a class="navbar-brand" href="/syui">プロフィール</a>
			</div>
		</div>
		<div class="navbar-nav-right">
		<a href="/blog/index.xml"><i class="fas fa-rss"></i></a>
		</div>
</nav>
