<div id="aiterm" style="display:none;">
	<link rel="stylesheet" href="https://term.syui.ai/term/pkg/jquery.terminal/css/jquery.terminal.css" />
	<link rel="stylesheet" href="https://term.syui.ai/term/css/terminal.css" />
	<script src="https://term.syui.ai/term/pkg/jquery.ajax/jquery.min.js"></script>
	<script src="https://term.syui.ai/term/pkg/axios/dist/axios.min.js"></script>
	<script src="https://term.syui.ai/term/pkg/jquery.terminal/js/jquery.terminal.min.js"></script>
	<script src="https://term.syui.ai/term/pkg/jquery.terminal/js/jquery.mousewheel-min.js"></script>
	<script src="https://term.syui.ai/term/js/terminal.js"></script>
	<app></app>
	<script src="https://term.syui.ai/term/js/bundle.js"></script>
	<script src="https://term.syui.ai/term/pkg/hotkeys-js/dist/hotkeys.min.js"></script>
	<script src="https://term.syui.ai/term/pkg/hotkeys-js/dist/terminal.js"></script>
	<!--
		<iframe src="https://term.syui.ai" allowfullscreen frameborder="0" style="width:100%;height: 400px;" id="terminal-input"></iframe>
	-->
</div>
