{{ partial "head-min" . }}
{{ partial "header" . }}
			<p>真っ白なノートに思ったことを書き足していく、ちょっぴり秘密のノートです。</p>
			<div id="container">
			    <div class="outer">
				<div id="blog-archives" class="category">
				    <ul class="cp_list">
					{{ range first 100 (where site.RegularPages.Reverse "Type" "in" site.Params.mainSections) }}
					<li><a href="{{ .Permalink }}" title="{{ .Title }}" class="move">{{ .Title }}</a></li>
					{{ end }}
				    </ul>
				</div>
			    </div>
			</div>
		</div>
		{{ partial "footer" . }}
</body>
</html>
