{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
<!--
			<link rel="stylesheet" href="/css/img.css" />
-->

			<p><h3>CHARACTOR</h3></p>
			<blockquote>
			<p> <img src="/img/game/c_yui.png"> </p>
			<p><h4>アイ (AI)</h4></p>
			<p>本名は月見唯(つきみ・ゆい)。通称、アイ。</p>
			<p>名前を持たなかったが一人称はなぜかアイ。そのためキョウスケたちにアイと呼ばれるようになる。その後、国籍を手に入れ、本名は月見唯である。</p>
			<p>自らの髪の毛を超能力のために使う「超究」が最終奥義。ただし、放ったあと数ヶ月は短髪で過ごすことになる。</p>
			</blockquote>
			<p></p>
			<blockquote>
			<p> <img src="/img/game/c_kyousuke.png"> </p>
			<p><h4>キョウスケ (KYOUSUKE)</h4></p>
			<p>忍者好きの少年。よくポンタと遊んでいる。キャンプが得意。</p>
			</blockquote>
			<p></p>
			<blockquote>
			<p> <img src="/img/game/c_ponta.png"> </p>
			<p><h4>ポンタ (PONTA)</h4></p>
			<p>サッカー好きの獣族犬系。特にキーパーが好きらしい。</p>
			</blockquote>
			<p></p>
			<blockquote>
			<p> <img src="/img/game/c_octo_ou.png"> </p>
			<p><h4>王様 (OCTOOU)</h4></p>
			<p>オクト星に住むオクトカットという種族、その中でも王様と呼ばれるオクト星人。本人は予言者のつもり。</p>
			</blockquote>
			<p><h3>アイの変身</h3></p>
			<p> <img src="/img/game/ai.png"> </p>
			<p><h4>アイモード (MODE : AI)</h4></p>
			<blockquote>
				<p>アイが覚醒した状態のアイモード。</p>
				<p>最も小さな物質の流れが見えるようになる。</p>
			<p>必殺技は手の平から玉を出す「波動」である。</p>
			</blockquote>
			<p> <img src="/img/game/c_yui_tensi.png"> </p>
			<p><h4>ゼンモード(MODE : ZEN)</h4></p>
			<blockquote>
				<p>のちにアイが生まれ変わるはずだった男、ゼンの特徴を持ったゼンモード。</p>
				<p>頭の上にある輪は形状を自由に変化させられる「折れない何か」である。アイ以外の人間には触れられない。</p>
				<p>ただし、輪を手に持ちモードを解除すると、ただの鉄に変化する。</p>
			</blockquote>

			<p><a href="/imgame"><img src="/img/game/logo.png"></a>  </p>
			<!--
			<p><h3>STORY</h3></p>
			<p> <blockquote> ひょんなことから宇宙人に狙われた地球だったが、アイの活躍により無事に解決する。 </blockquote> </p>
			<p> <blockquote> しかし、新たな問題が発生し、宇宙中がパニックに！ </blockquote> </p>
			-->
		{{ partial "footer.html" . }}
</body>
</html>
