{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
{{ partial "head-sns.html" . }}

<article>
	<div class="content">

		<p>アイコンをデザインします</p>

		<h3><span class="icon-syui"></span> :syui:</h3>
		<blockquote>
			<a href="/icon/syui_world.png"><img src="/icon/syui_world.png" width="128"style="float:left;margin-right:10px;margin-bottom:0px;"/></a>
			<p>今使ってるアイコン。昔使っていた<code>phoenix-world</code>をシンプルにデザインし直したもの。カラーは赤の中でも朱色を選択。</p>
			<p style="clear:both;"></p>
		</blockquote>

		<h3><span class="icon-archlinuxjp"></span> :archlinux:</h3>
		<blockquote>
			<a href="/icon/archlinuxjp.png"><img src="/icon/archlinuxjp.png" width="128"style="float:left;margin-right:10px;margin-bottom:0px;"/></a>
			<p><a href="https://archlinux.jp">archlinux.jp</a>に参加させてもらった時にデザインしたもの。<code>Arch Linux JP</code>に使ってもらえているので、すごく嬉しい。</p>
			<p style="clear:both;"></p>
		</blockquote>

		<h3><span class="icon-ai"></span> :ai:</h3>
		<blockquote>
			<a href="/icon/ai.png"><img src="/icon/ai.png" width="128"style="float:left;margin-right:10px;margin-bottom:0px;"/></a>
			<p><a href="https://yui.syui.ai">yui</a>という作品に登場するアイの創造の力をイメージしたもの。最も小さいものに影響を与える。</p>
			<p style="clear:both;"></p>
		</blockquote>

	</div>
</article>

</div>

{{ partial "footer.html" . }}
</body>
</html>
