{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
{{ partial "head-sns.html" . }}
			<h3>自己紹介</h3>
			<blockquote>
				<p><code>syui</code>といいます。よろしくおねがいします。</p>
			 <p>ハンドルネームは、本名の頭文字で、<code>syu</code>を名前から、<code>i</code>を名字から取りました。</p>
				<p>何もできませんが、これから色んなことをやっていければと思います！</p>
			</blockquote>

			<h3>アイコン</h3>
			<blockquote>
				<p>アイコンは初代から移行しました。</p>
				<p><img src="/img/phoenix_chenge.png" alt=""></p>
			</blockquote>

			<h3>写真</h3>
			<blockquote>
				<p><img src="/img/about.png"></p>
			</blockquote>

			<h3>ポケモンGo</h3>
			<blockquote>
			    <p>ポケモンと一緒に冒険しています！</p>
			<p><img src="/img/pokemongo.jpg"></p>
			</blockquote>
			<h3>イングレス</h3>
			<blockquote>
			    <p>エージェントやってます！(コードネームは別)</p>
			<p><img src="/img/ingress.png"></p>
			</blockquote>

			<h3>ランニング</h3>
			<blockquote>
				<p>日課はランニング。タイムは、21kmを走って1時間27分くらい。この日は、とても疲れました...。</p>
			<p><img src="/img/nike.png"></p>
			</blockquote>
			<h3>秘密の箱</h3>
			<blockquote>
			    <p>ひみつのはこをあけるには <code>Ctrl + Enter</code> のこまんど！</p>
			</blockquote>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
