{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<h3>syuiについて</h3>
			<blockquote>
			    <p>ハンドルネームの<code>syui</code>はネットをやり始めたとき考えられたもの。本名の頭文字で<code>syu</code>が名で<code>i</code>が姓から。</p>
			</blockquote>
			<h3>自己紹介</h3>
			<blockquote>
			<p>何もわかりませんが、これから色んなことを知っていければと思います！</p>
			</blockquote>
			<h3>アイコン</h3>
			<blockquote>
			    <p>アイコンは初代から移行しました。</p>

			<p><img src="/img/phoenix_chenge.png" alt=""></p>
			</blockquote>
			<h3>テーマカラー</h3>
			<blockquote>
			    <p>このサイトのテーマカラーは、<a href="">朱色(しゅいろ)</a>です。</p>
			</blockquote>

			<h3>ランニング</h3>
			<blockquote>
			    <p>日課はランニング。タイムは、21kmを走って1時間27分くらい。この日は、とても疲れました...。</p>
			<p><img src="/img/nike_01.png"></p>
			</blockquote>

			<h3>写真</h3>
			<blockquote>
			<p><img src="/img/about.png"></p>
			</blockquote>

			<h3>ポケモンGo</h3>
			<blockquote>
			    <p>ポケモンが大好き。ポケモンと一緒に冒険しています！</p>
			<p><img src="/img/pokemongo_04.png"></p>
			</blockquote>
			<h3>イングレス</h3>
			<blockquote>
			    <p>エージェントやってます！(コードネームは非表示)</p>
			<p><img src="/img/ingress_02.png"></p>
			</blockquote>

			<h3>秘密の箱</h3>
			<blockquote>
			    <p>ひみつのはこをあけるには <code>Ctrl + Enter</code> のこまんど！</p>
			</blockquote>

			<h3>リンク</h3>
			<blockquote>
			    <p>
				<div class="footer-link">
	    			<a href="https://twitter.com/syui__" target="_blank"><i class="fab fa-twitter"></i></a>
	    			<a href="https://github.com/syui" target="_blank"><i class="fab fa-github"></i></a>
	    			<a href="/index.xml" target="_blank"><i class="fas fa-rss"></i></a>
				</div>
			    </p>
			</blockquote>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
