{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo.png">
			</p>

			<p>PLAY</p>
			<p> <a href="/game">/game</a></p>
			<p>DOWNLOAD</p>
			<p>
			  <a href="https://github.com/syui/game/releases/download/v1.1/yui_win.zip"><i class="fab fa-windows" style="font-size:30px;margin:10px;"></i> </a>
				<a href="https://github.com/syui/game/releases/download/v1.1/yui_mac.zip"><i class="fab fa-apple"style="font-size:30px;margin:10px;"></i></a>
				<!--
				<a href="https://github.com/syui/game/releases/download/v1.1/yui_ios.zip"><i class="fas fa-mobile-alt"style="font-size:30px;margin:10px;"></i></a>
			  <a href="https://github.com/syui/game/releases/download/v1.1/yui_android.zip"><i class="fab fa-android"style="font-size:30px;margin:10px;"></i></a>
				-->
			</p>
			<p>
				<img src="/img/game/c_octo_def.png">
				<img src="/img/game/c_octo_hakase.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_zeusu_0.png">
				<img src="/img/game/c_yui.png">
				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/i_hosi_00.png">
				<img src="/img/game/i_item_00.png">
				<img src="/img/game/i_ie_start.png">
				<img src="/img/game/i_ie_end.png">
			</p>

			<p>
			<blockquote>ひょんなことから宇宙人の標的に？</blockquote>
			</p>
			<!--
			<p>
				<img src="/img/game/game_image_01.png">
				<img src="/img/game/game_image_02.png">
				<img src="/img/game/game_image_03.png">
				<img src="/img/game/game_image_04.png">
			</p>
			-->
			<p> <a href="/gamechara">キャラクター紹介</a></p>
			<p> <a href="/imgame2"><img src="/img/game/logo2.png"></a> </p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
