{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p> 
				<img src="/img/game/logo.png">
			</p>

			<p><a href="https://game.syui.cf"><i class="far fa-play-circle"></i>    PLAY</a></p>
			<p><iframe src="https://github.com/sponsors/syui/button" title="Sponsor syui" height="35" width="107" style="border: 0;"></iframe></p>
			<p>DOWNLOAD</p>
			<p>
			  <a href="https://github.com/syui/game/releases/download/v3.0/yui-win.zip"><i class="fab fa-windows" style="font-size:30px;margin:10px;"></i></a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui-mac.zip"><i class="fab fa-apple"style="font-size:30px;margin:10px;"></i></a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui-ios.ipa"><i class="fab fa-app-store-ios"style="font-size:30px;margin:10px;"></i></a>
				<a href="https://github.com/syui/game/releases/download/v3.0/yui-android.apk"><i class="fab fa-android"style="font-size:30px;margin:10px;"></i></a>
			</p>
			<p>
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_yui.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/i_hosi_00.png">
				<img src="/img/game/f_kumo.png">
				<img src="/img/game/f_plan.png">
				<img src="/img/game/f_kori.png">
			</p>

			<p>
			<blockquote>ひょんなことから宇宙人の標的に？</blockquote>
			</p>
			<!--
			<p>
				<img src="/img/game/game_image_01.png">
				<img src="/img/game/game_image_02.png">
				<img src="/img/game/game_image_03.png">
				<img src="/img/game/game_image_04.png">
			</p>
			-->
			<p> <a href="/imgame2"><img src="/img/game/logo2.png"></a> </p>
			<p> <a href="/gamechara">キャラクター紹介</a></p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
