{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
			<link rel="stylesheet" href="/css/img.css" />
			<div class="img-new">
			<p>ゲームの素材を作ります。</p>
			<p> <a href="/game">/game</a> </p>
			<p> 
				<img src="/img/game/logo.png">
			</p>
			<p>
				<img src="/img/game/s_frame.png">
			</p>
			<p>
				<img src="/img/game/c_octo_def.png">
				<img src="/img/game/c_octo_hakase.png">
				<img src="/img/game/c_octo_hei.png">
				<img src="/img/game/c_octo_ou.png">
				<img src="/img/game/c_yui.png">
				<img src="/img/game/c_kyousuke.png">
				<img src="/img/game/c_ponta.png">
				<img src="/img/game/c_zen.png">
				<img src="/img/game/i_hosi_00.png">
				<img src="/img/game/i_hosi_01.png">
				<img src="/img/game/i_ie_start.png">
				<img src="/img/game/i_ie_end.png">
				<img src="/img/game/i_ie.png">
				<img src="/img/game/i_item_00.png">
				<img src="/img/game/i_item_01.png">
				<img src="/img/game/i_kumo.png">
				<img src="/img/game/i_mati.png">
				<img src="/img/game/i_yama.png">
				<img src="/img/game/i_mori.png">
				<img src="/img/game/i_miti.png">
				<img src="/img/game/i_ase.png">
				<img src="/img/game/i_baku_01.png">
			</p>
			<p>
				<img src="/img/game/p_black.png">
				<img src="/img/game/p_blue.png">
				<img src="/img/game/p_green.png">
				<img src="/img/game/p_red.png">
				<img src="/img/game/p_sky.png">
			</p>
			<p>
				<img src="/img/game/s_01.png">
				<img src="/img/game/i_baku_02.png">
			</p>
		</div>
		{{ partial "footer.html" . }}
</body>
</html>
